# ignore all of data by default
data/**

# BUT keep the model and its parent dirs
!data
!data/06_models
!data/06_models/model.h5

# the rest of your ignores
.git
.venv
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.DS_Store
.viz/
